https://www.lunatech.com/2020/06/announcing-the-moving-from-scala-2-to-scala-3-course# Redirect traffic from www.lunatech.com/blog to blog.lunatech.com
RewriteEngine On
RewriteRule "^/(.*)/(.*)" "https://blog.lunatech.com/$1/$2"
